Complete this assignment in that jupyter notebook and save to your computer.

Create a dictionary where each object contains a list of one float (Age) and one string (Family name) (at least 5 objects) 
Example: {Charles: [23.4, "Darwin"], Alan: [42.5, "Turing"]}

In [11]:
Group = {
    'Person 1': [20.1,"Simpson"],
    'Person 2': [20.2,"Ali"],
    'Person 3': [20.3,"Omar"],
    'Person 4': [20.4,"Karim"],
    'Person 5': [20.5,"Jackson"],
}
Group

{'Person 1': [20.1, 'Simpson'],
 'Person 2': [20.2, 'Ali'],
 'Person 3': [20.3, 'Omar'],
 'Person 4': [20.4, 'Karim'],
 'Person 5': [20.5, 'Jackson']}

Delete one object from the dictionary

In [12]:
del Group['Person 5']

In [13]:
Group

{'Person 1': [20.1, 'Simpson'],
 'Person 2': [20.2, 'Ali'],
 'Person 3': [20.3, 'Omar'],
 'Person 4': [20.4, 'Karim']}


Replace the float number of one of your objects - we are changing a list entry inside a dictionary record! look at Darwin's new age 
Example: {Charles: [99.73, "Darwin"], Alan: [42.5, "Turing"]}

In [16]:
Group['Person 4'][0] = Group['Person 4'][0] + 10

In [17]:
Group

{'Person 1': [20.1, 'Simpson'],
 'Person 2': [20.2, 'Ali'],
 'Person 3': [20.3, 'Omar'],
 'Person 4': [30.4, 'Karim']}

Write a for loop that goes through all records in the dictionary, and assigns the float numbers into one merged list (see ages) 
ages = [23.4, 22.9, 552.9]

In [30]:
Ages = []
for person in list(Group.values()):
    Ages.append(person[0])
    print (person[0])

20.1
20.2
20.3
30.4

In [31]:
Ages

[20.1, 20.2, 20.3, 30.4]


BONUS
Calculate with a for loop the median and mean of the ages list